@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    font-family: "Oswald", sans-serif;
    height: 100vh;
    margin: 0;
    background-color: white;
    overflow: hidden;
    position: relative;

    &.playing {
        cursor: none;
    }

    &:not(.playing) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: black;
        color: white;

        & h3,
        & h4 {
            margin: 0;
        }

        & button {
            background-color: transparent;
            color: white;
            border: none;
            outline: 2px solid white;
            border-radius: 15px;
            font-weight: bold;
            padding: 10px 20px;
            font-size: 20px;
            cursor: pointer;
            margin-top: 40px;

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }
}

#play-area {
    background-color: black;
    width: 1600px;
    height: 950px;
}

.ship {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    transition: all ease;
}

.meteorite {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    transition: all ease;
}

.bullet {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    transition: all ease;
}