body {
    height: 100vh;
    margin: 0;
    background-color: white;
    overflow: hidden;
    cursor: none;
    position: relative;
}

#play-area {
    background-color: black;
    width: 1600px;
    height: 950px;
}

.ship {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    transition: all ease;
}

.meteorite {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    transition: all ease;
}

.bullet {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    transition: all ease;
}