body {
    height: 100vh;
    margin: 0;
    background-color: black;
    overflow: hidden;
    cursor: none;
    position: relative;
}

.ship {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    transition: all ease;
}

.meteorite {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    transition: all ease;
}